@charset "UTF-8";
:root {
  --color-white: #FFFFFF;
  --color-blue: #005EB8;
  --color-orange: #F18A00;
  --color-black: #120C1F;
}

:root {
  --spacing-1: 1px;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
}

@font-face {
  font-family: "din";
  src: url("../static/fonts/GPN_DIN-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din";
  src: url("../static/fonts/GPN_DIN-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din condensed";
  src: url("../static/fonts/GPN_Helios_Condensed-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din condensed";
  src: url("../static/fonts/GPN_Helios_Condensed-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-size-16: 1rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
}

html {
  font-size: 0.8333333333vw;
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 1vw;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 5vw;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

ul {
  list-style: none;
}

.main-letters {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  will-change: transform;
  width: 100%;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  z-index: 1;
}
.main-letters .main-letters__background {
  width: 100%;
  height: auto;
  background: #005EB8;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-letters .main-letters__background:first-child {
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 4rem;
}
.main-letters .main-letters__background:last-child {
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 4rem;
}
.main-letters .main-letters__background h1, .main-letters .main-letters__background h2 {
  font-family: "din condensed", sans-serif;
  font-weight: normal;
  font-size: 2.25rem;
  text-transform: lowercase;
  color: #FFFFFF;
  text-align: center;
}
.main-letters .main-letters__mask {
  width: 100%;
  height: auto;
}

.main-background {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.main-background .main-background__layers {
  overflow: hidden;
  width: 100%;
  height: 200vh;
}
.main-background .main-background__layers .flow-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-background .main-background__layers .flow-container .layer {
  width: 100%;
  height: 200vh;
  position: absolute;
  left: 0;
  top: 0;
}
.main-background .main-background__layers .flow-container .layer .img {
  position: absolute;
  width: 100%;
  height: 200vh;
  left: 0;
  top: 0;
  transition: opacity 1s ease;
  background-position: center;
  background-size: cover;
}
.main-background .main-background__layers .flow-container .layer:nth-child(1) .img {
  background-image: url(./static/images/main-letters/layer-1.png);
}
.main-background .main-background__layers .flow-container .layer:nth-child(2) .img:first-child {
  background-image: url(./static/images/main-letters/layer-2-blur.png);
}
.main-background .main-background__layers .flow-container .layer:nth-child(2) .img:last-child {
  background-image: url(./static/images/main-letters/layer-2.png);
}
.main-background .main-background__layers .flow-container .layer:nth-child(3) .img {
  background-image: url(./static/images/main-letters/layer-3.png);
}
.main-background .main-background__layers .flow-container .layer:nth-child(4) .img:first-child {
  background-image: url(./static/images/main-letters/layer-4-blur.png);
}
.main-background .main-background__layers .flow-container .layer:nth-child(4) .img:last-child {
  background-image: url(./static/images/main-letters/layer-4.png);
}
.main-background .main-background__layers .hide {
  opacity: 0 !important;
}

.horizontal-flow {
  margin-top: -100vh;
}
.horizontal-flow .horizontal-flow__layers {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.horizontal-flow .horizontal-flow__layers .flow-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: auto;
  height: 100%;
}
.horizontal-flow .horizontal-flow__layers .flow-container .horizontal-flow__screen {
  position: relative;
  width: auto;
  height: 100%;
}
.horizontal-flow .horizontal-flow__layers .flow-container .horizontal-flow__screen .layer {
  width: auto;
  height: 100%;
}
.horizontal-flow .horizontal-flow__layers .flow-container .horizontal-flow__screen .layer:not(:first-child) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.horizontal-flow .horizontal-flow__layers .flow-container .horizontal-flow__screen .layer .img {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
  background-position: left center;
  background-size: cover;
}
.horizontal-flow .horizontal-flow__layers .flow-container .horizontal-flow__screen .layer img {
  height: 100%;
  width: auto;
}
.horizontal-flow .horizontal-flow__layers .flow-container .horizontal-flow__screen .layer:nth-child(3) .img {
  background-image: url(./static/images/horizontal-flow/layer-1.png);
}
.horizontal-flow .horizontal-flow__layers .flow-container .horizontal-flow__screen .layer:nth-child(2) .img {
  background-image: url(./static/images/horizontal-flow/layer-2.png);
}

.time-laps {
  width: 100%;
  height: 1500vh;
  margin-top: -100vh;
}
.time-laps .time-laps__stages {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.time-laps .stage-layers, .time-laps .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.time-laps .stage-layers .layer .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.time-laps .stage-layers .layer#whalies .img, .time-laps .stage-layers .layer#ice .img {
  opacity: 0;
}
.time-laps .stage-layers {
  opacity: 0;
}
.time-laps .stage-layers:first-child .layer:nth-child(1) .img {
  background-image: url(./static/images/time-laps/zoomed-birds/layer-1.png);
}
.time-laps .stage-layers:first-child .layer:nth-child(2) .img {
  background-image: url(./static/images/time-laps/zoomed-birds/layer-2.png);
}
.time-laps .stage-layers:nth-child(2) .layer:nth-child(1) .img {
  background-image: url(./static/images/time-laps/birds-from-top/layer-1.png);
}
.time-laps .stage-layers:nth-child(2) .layer:nth-child(2) .img {
  background-image: url(./static/images/time-laps/birds-from-top/layer-2.png);
}
.time-laps .stage-layers:nth-child(2) .layer:nth-child(3) .img {
  background-image: url(./static/images/time-laps/birds-from-top/layer-3.png);
}
.time-laps .stage-layers:nth-child(3) .layer:nth-child(1) .img {
  background-image: url(./static/images/time-laps/platform-view/layer-1.png);
}
.time-laps .stage-layers:nth-child(3) .layer:nth-child(2) .img {
  background-image: url(./static/images/time-laps/platform-view/layer-2.png);
}
.time-laps .stage-layers:nth-child(3) .layer:nth-child(3) .img {
  background-image: url(./static/images/time-laps/platform-view/layer-3.png);
}

.platform-menu {
  position: relative;
  width: 100%;
  height: 300vh;
  margin-top: -100vh;
  opacity: 0;
  transition: opacity 0.3s;
}
.platform-menu .platform-menu__wrapper {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
}
.platform-menu .platform-menu__controls, .platform-menu .platform-menu__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.platform-menu .platform-menu__controls {
  z-index: 2;
}
.platform-menu .platform-menu__background {
  z-index: 1;
}
.platform-menu .platform-menu__background canvas, .platform-menu .platform-menu__background .platform-menu__layers, .platform-menu .platform-menu__background .layer,
.platform-menu .platform-menu__background .layer .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.platform-menu .layer .img {
  background-size: cover;
  background-position: center;
}
.platform-menu .platform-menu__layers .layer:nth-child(1) .img {
  background-image: url(./static/images/platform-menu/layer-4.png);
}
.platform-menu .platform-menu__layers .layer:nth-child(2) .img {
  background-image: url(./static/images/platform-menu/layer-3.png);
}
.platform-menu .platform-menu__layers .layer:nth-child(3) .img {
  background-image: url(./static/images/platform-menu/layer-2.png);
}
.platform-menu .platform-menu__layers .layer:nth-child(4) .img {
  background-image: url(./static/images/platform-menu/layer-1.png);
}
.platform-menu .platform-menu__layers .layer#addModelInstead .img {
  background-image: url(./static/images/platform-menu/platform-layer.png);
}

.platform-menu .platform-menu__controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  padding: 4rem;
}
.platform-menu .platform-menu__controls .header__content:last-child {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: start;
}
.platform-menu .platform-menu__controls .header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.platform-menu .platform-menu__controls .header h1 {
  font-family: "din", sans-serif;
  font-weight: normal;
  font-size: 2.25rem;
  color: #005EB8;
  width: 19.5rem;
}
.platform-menu .platform-menu__controls .header .compass {
  position: relative;
  width: 10rem;
  height: 10rem;
}
.platform-menu .platform-menu__controls .header .compass svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.platform-menu .platform-menu__controls .header .sound {
  position: relative;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}
.platform-menu .platform-menu__controls .header .sound svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}
.platform-menu .platform-menu__controls .header .sound svg#soundOn {
  opacity: 0;
}
.platform-menu .platform-menu__controls .header .logo {
  width: auto;
  height: 4rem;
  margin-left: 4rem;
}

.platform-menu .platform-menu__controls .navigation {
  width: 100%;
  height: 100%;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 4rem;
}
.platform-menu .platform-menu__controls .navigation__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.platform-menu .platform-menu__controls .navigation__content:first-child {
  -ms-flex-align: start;
  align-items: flex-start;
}
.platform-menu .platform-menu__controls .navigation__content:first-child a:before {
  left: 0;
}
.platform-menu .platform-menu__controls .navigation__content:last-child {
  -ms-flex-align: end;
  align-items: flex-end;
}
.platform-menu .platform-menu__controls .navigation__content:last-child a:before {
  right: 0;
}
.platform-menu .platform-menu__controls .navigation__content a {
  position: relative;
  font-family: "din", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #005EB8;
  cursor: pointer;
  transition: color 0.3s ease;
}
.platform-menu .platform-menu__controls .navigation__content a:before {
  content: "";
  position: absolute;
  bottom: calc(100% + 0.5rem);
  width: 20.625rem;
  height: 2px;
  background-color: #005EB8;
  transition: background-color 0.3s ease;
}
.platform-menu .platform-menu__controls .navigation__content a:hover {
  color: #F18A00;
}
.platform-menu .platform-menu__controls .navigation__content a:hover:before {
  background-color: #F18A00;
}
.platform-menu .platform-menu__controls .navigation__content a:not(:first-child) {
  margin-top: 5rem;
}

html {
  scroll-behavior: smooth;
  font-family: "din", sans-serif;
  font-weight: normal;
}

@media screen and (orientation: portrait) {
  html, body {
    overflow: hidden;
  }
}

.root:before {
  content: "Используйте сайт в горизонтальной ориентации!";
  position: fixed;
  width: 100%;
  height: 100%;
  background: #005EB8;
  color: #FFFFFF;
  font-size: 3rem;
  font-family: "din", sans-serif;
  font-weight: normal;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-sizing: border-box;
  z-index: 1000;
}
@media screen and (max-width: 576px) {
  .root:before {
    font-size: 1rem;
  }
}
@media screen and (orientation: portrait) {
  .root:before {
    opacity: 1;
    visibility: visible;
  }
}