:root {
  --color-white: #FFFFFF;
  --color-blue: #005EB8;
  --color-black: #120C1F;
}

:root {
  --spacing-1: 1px;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
}

@font-face {
  font-family: "din";
  src: url("../static/fonts/GPN_DIN-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din";
  src: url("../static/fonts/GPN_DIN-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din condensed";
  src: url("../static/fonts/GPN_Helios_Condensed-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "din condensed";
  src: url("../static/fonts/GPN_Helios_Condensed-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-size-16: 1rem;
  --font-size-36: 2.25rem;
}

html {
  font-size: 0.8333333333vw;
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 5vw;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

ul {
  list-style: none;
}

.main-letters {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  will-change: transform;
  width: 100%;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  z-index: 1;
}
.main-letters .main-letters__background {
  width: 100%;
  height: auto;
  background: #005EB8;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-letters .main-letters__background:first-child {
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 4rem;
}
.main-letters .main-letters__background:last-child {
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 4rem;
}
.main-letters .main-letters__background h1, .main-letters .main-letters__background h2 {
  font-family: "din condensed", sans-serif;
  font-weight: normal;
  font-size: 2.25rem;
  text-transform: lowercase;
  color: #FFFFFF;
  text-align: center;
}
.main-letters .main-letters__mask {
  width: 100%;
  height: auto;
}

.main-background {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
.main-background .main-background__layers {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200vh;
}
.main-background .main-background__layers .layer {
  width: 100%;
  height: 200vh;
}
.main-background .main-background__layers .layer:not(:first-child) {
  position: absolute;
  left: 0;
  top: 0;
}
.main-background .main-background__layers .layer img {
  position: absolute;
  width: auto;
  height: 200vh;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: opacity 1s ease;
}
.main-background .main-background__layers .hide {
  opacity: 0 !important;
}

html {
  scroll-behavior: smooth;
  font-family: "din", sans-serif;
  font-weight: normal;
}