@import './styles/color';
@import './styles/spacing';
@import './styles/typography';
@import './styles/grid';
@import './styles/normalize';

@import './components/mainLetters/mainLetters';
@import './components/horizontalFlow/horizontalFlow';
@import './components/timeLaps/timeLaps';
@import './components/platformMenu/platformMenu';
@import './components/preloader/preloader';

html {
  @include font-regular;
  // scroll-behavior: smooth;
}

html, body {
  @media screen and (orientation:portrait) {
    position: relative;
    height: 100%;
    overflow: hidden;
    max-height: 100vh;
  }
  // background-color: color('blue');
}

body {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  height: 100%;
}

.root {
  &:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: color('blue');
    color: color('white');
    font-size: 3rem;
    @include font-regular;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    box-sizing: border-box;
    z-index: 1000;

    @media screen and (max-width: point(sm)) {
      font-size: 1rem;
    }
  }

  &:after {
    content: url(./static/svg/rotation-message.svg);
    position: fixed;
    width: 50vw;
    height: 50vw;
    left: calc(50% - 50vw / 2);
    top: calc(50% - 50vw / 2);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    box-sizing: border-box;
    z-index: 1001;
  }
  @media screen and (orientation:portrait) {
    &:before, &:after {
      opacity: 1;
      visibility: visible;
    }

    &:after {
      animation: 40s rotation infinite forwards linear;
    }
  }
}

.root.sound-off {
  cursor:  url(./static/svg/sound-off.svg) 50 50, auto;
}

.root.sound-on {
  cursor:  url(./static/svg/sound-on.svg) 50 50, auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.color-layer {
  z-index: -1;
}

.color-blue {
  background-color: color('blue-light');
}

.color-white {
  background-color: color('white');
}