.platform-menu {
    position: relative;
    width: 100%;
    height: 300vh;
    margin-top: -100vh;
    opacity: 0;
    transition: opacity .3s;

    &.visible {
    }

    .platform-menu__wrapper {
        position: sticky;
        height: 100vh;
        overflow: hidden;
        top: 0; left: 0;
    }

    .platform-menu__controls, .platform-menu__background {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

    .platform-menu__controls {
        z-index: 2;
    }

    .platform-menu__background {
        z-index: 1;
        canvas, .platform-menu__layers, .layer,
        .layer .img {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .layer .img {
        background-size: cover;
        background-position: center;
    }

    .platform-menu__layers .layer {
        &:nth-child(1) {
            .img {
                background-image: url(./static/images/platform-menu/layer-4.png);
            }
        }
        &:nth-child(2) {
            .img {
                background-image: url(./static/images/platform-menu/layer-3.png);
            }
        }
        &:nth-child(3) {
            .img {
                background-image: url(./static/images/platform-menu/layer-2.png);
            }
        }
        &:nth-child(4) {
            .img {
                background-image: url(./static/images/platform-menu/layer-1.png);
            }
        }

        &#addModelInstead {
            .img {
                background-image: url(./static/images/platform-menu/platform-layer.png);
            }
        }
    }
}